
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
  
}
.title
{
  font-size: 30px;
  color: red;
}
p{
  font-size: 20px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 52px;
  background: white;
  height: 100vh; /* viewport height measures percentage, by setting to 100, our 'body'will take 100 percent of the availale height space       */
  background-image: url('https://media.giphy.com/media/2H67VmB5UEBmU/giphy.gif'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
.instructions
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  padding: 25px;
  background: #2708a2;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.cards, .card, .view, .details, p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card{
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card.rotate
{
 
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.cards .card .view{
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background:aqua;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card .front-view img{
  max-width: 100px;
}
.card .back-view{
  transform: rotateY(-180deg);
}
.card .back-view img{
  max-width: 70px;
}
.card.flip .front-view{
  transform: rotateY(180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}

.details{
  width: 100%;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 30px;
  background: #fff;
  height: 75px;
  justify-content: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);

}

.timerStat
{
  width: 100%;
  
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 30px;
  background: #fff;
  height: 75px;
  justify-content: center;
  
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  
 
}
 p{
  font-size: 35px;
  height: 17px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
  background-color: transparent;
  color:blue;
}

.details p b{
  font-weight: 500;
}
.details button{
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
  color: #0e0bc2;
  border-radius: 4px;
  padding: 4px 11px;
  background: yellow;
  border: 2px solid #6563ff;
  transition: 0.3s ease;
}
.details button:hover{
  color: #fff;
  background: #ff2525;
}

